<web-app>
    <servlet>
        <servlet-name>EventchainAdmin</servlet-name>
        <servlet-class>org.eventchain.admin.AdminServlet</servlet-class>
    </servlet><br />
    <servlet-mapping>
        <servlet-name>EventchainAdmin</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
